@model Service

<div class="container-fluid row justify-content-between align-items-center">
    <h1>Create Page</h1>
    <a asp-action="index" asp-controller="service" class="btn btn-primary">Go Back</a>
</div>

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TitleUrl" class="form-label">TitleUrl</label>
            <input asp-for="TitleUrl" class="form-control">
            <span asp-validation-for="TitleUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ImageFile" class="form-label">ImageFile</label>
            <input asp-for="ImageFile" class="form-control">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <div class="mb-3 form-check">
            <input asp-for="IsDeleted" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label asp-for="IsDeleted" class="form-check-label" for="exampleCheck1">IsDeleted</label>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>

</div>

